# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
staticfiles/
media/avatars/*
media/course_materials/*
!media/avatars/.gitkeep
!media/course_materials/.gitkeep

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
